/* Global Styles */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

header,
nav,
main,
footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color:  #e6c302;
    color: aliceblue;
}

nav {
    background-color: #52202b;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: white;
    min-height: 300px;
}

section {
    padding: 20px;
    border: 1px solid #ccc;
}

footer {
    background-color: #e6c302;
    color: white;
}


/* Medium */
@media screen and (min-width: 600px) {

    main {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Large */
@media screen and (min-width: 900px) {

    main {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: auto;
    }

}


/* Extra Large */
@media screen and (min-width: 1200px) {

    main {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: auto;
    }

}